<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090712065040-mohe3g3i5hg79s7fmjk5svha1eqqhbr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090712065040-mohe3g3i5hg79s7fmjk5svha1eqqhbr6</string>
	<key>API_KEY</key>
	<string>AIzaSyB6_QUIEHhgtea3jaLEW_d3KELOzVLNE50</string>
	<key>GCM_SENDER_ID</key>
	<string>1090712065040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ViA.Minestagram-Andra</string>
	<key>PROJECT_ID</key>
	<string>minstagram-fa6c1</string>
	<key>STORAGE_BUCKET</key>
	<string>minstagram-fa6c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090712065040:ios:d8a34d448b2afb5f5da695</string>
</dict>
</plist>